@model Genre
@{
    ViewData["Title"] = "Add a new Genre";
}
<div class="row text">
    <div class="col-md-8 offset-2" style="margin-top: 30px; color: darkcyan;">
        <p>
            <h4>Add a New Genre</h4>
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <form asp-action="Create">
                <div asp-asp-validation-summary="ModeOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GenreName" class="control-label" style="font-size: 17px; margin-bottom: 5px; padding-left: 5px;"></label>
                    <input asp-for="GenreName" class="form-control" />
                    <span asp-validation-for="GenreName" class="text-danger"></span>
                </div>
                <div class="form-gorup">
                    <input style="margin-left: 90%; margin-top: 2%; font-size: 13px;" type="submit" value="Create" class="btn btn-outline-success float-right" />
                </div>
            </form>

        </div>
    </div>
</div>