@using WebApplication1.viewModel
@model CreateReviewViewModel
@{
    ViewData["Title"] = "Add a new Review";
}
<div class="row text">
    <div class="col-md-8 offset-2" style="margin-top: 30px; color: darkcyan;">
        <p>
            <h4>Add a New Review</h4>
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <form asp-action="Create">
                <div asp-asp-validation-summary="ModeOnly" class="text-danger"></div>
                <div>
                    <input asp-for="review.AppUser" class="form-control" hidden/>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="review.Comment" class="control-label"></label>
                    <input asp-for="review.Comment" class="form-control" />
                    <span asp-validation-for="review.Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="review.Rating" class="control-label"></label>
                    <input asp-for="review.Rating" class="form-control" />
                    <span asp-validation-for="review.Rating" class="text-danger"></span>
                </div>
                <div class="form-gorup">
                    <button type="submit" class="btn btn-success float-right" style="margin-left: 88%; margin-top: 2%; font-size: 13px;" ><i class="bi bi-plus-square"></i>  Create</i></button>
                </div>
            </form>
        </div>
    </div>
</div>