@model Author
@{
    ViewData["Title"] = "Delete Author";
}
<div class="row text">
    <div class="col-md-8 offset-2" style="margin-top: 30px;">
        <p>
            <h3 style="color: darkcyan;">Delete this Author</h3>
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
                <div asp-asp-validation-summary="ModeOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nationality" class="control-label"></label>
                    <input asp-for="Nationality" class="form-control" />
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-gorup">
                    <form asp-action="DeleteConfirmed">
                        <input type="hidden" asp-for="@Model.Id" />
                        <input style="margin-left: 90%; margin-top: 2%; font-size: 13px;" type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                </div>
        </div>
    </div>
</div>
}
